[workspace]
members = ["comic-text-detector", "koharu", "lama", "llm", "manga-ocr"]
resolver = "3"

[workspace.package]
version = "0.7.0"
edition = "2024"
description = "Manga translation tools"
license-file = "LICENSE"
authors = ["Mayo Takanashi <mayo@linux.com>"]
readme = "README.md"
homepage = "https://koharu.rs"
repository = "https://github.com/mayocream/koharu"
keywords = ["manga", "ocr", "translation", "deep_learning", "computer_vision"]

[workspace.dependencies]
comic-text-detector = { path = "./comic-text-detector" }
manga-ocr = { path = "./manga-ocr" }
lama = { path = "./lama" }
llm = { path = "./llm" }

candle-transformers = "=0.9.2-alpha.1"
candle-core = "=0.9.2-alpha.1"
hf-hub = "0.4"
image = "0.25"
ort = "=2.0.0-rc.10"
anyhow = "1.0"
ndarray = "0.16"
imageproc = "0.25"
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"
serde_json = "1.0"
tokio = { version = "1.44", features = ["full"] }
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
log = "0.4"
open = "5.3"
rfd = "0.15"
postcard = { version = "1.0", features = ["use-std"] }
velopack = { version = "0.0", features = ["async"] }
thiserror = "2.0"
tauri = { version = "2.9", features = ["tracing"] }
tauri-build = "2.5"
blake3 = "1.8"
lru = "0.16"
rayon = "1.11"
# disables `esaxx_fast` feature which is conflicting with `ort`
tokenizers = { version = "0.22", default-features = false, features = ["onig"] }
strum = { version = "0.27", features = ["derive"] }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
