[workspace]
members = [
    "koharu",
    "koharu-models",
    "koharu-runtime",
    "koharu-core",
    "koharu-renderer",
]
default-members = ["koharu"]
resolver = "3"

[workspace.package]
version = "0.9.6"
edition = "2024"
description = "Manga translation tools"
license-file = "LICENSE"
authors = ["Mayo Takanashi <mayo@linux.com>"]
readme = "README.md"
homepage = "https://koharu.rs"
repository = "https://github.com/mayocream/koharu"
keywords = ["manga", "ocr", "translation", "deep_learning", "computer_vision"]

[workspace.dependencies]
koharu-runtime = { version = "0.9.6", path = "koharu-runtime", default-features = false }
koharu-models = { version = "0.9.6", path = "koharu-models", default-features = false }
koharu-core = { version = "0.9.6", path = "koharu-core", default-features = false }
koharu-renderer = { version = "0.9.6", path = "koharu-renderer", default-features = false }

candle-transformers = "=0.9.2-alpha.1"
candle-core = "=0.9.2-alpha.1"
hf-hub = "0.4"
image = "0.25"
ort = { version = "=2.0.0-rc.10", default-features = false, features = [
    "ndarray",
    "load-dynamic",
] }
anyhow = "1.0"
ndarray = "0.16"
imageproc = "0.25"
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"
serde_json = "1.0"
tokio = { version = "1.44", features = ["full"] }
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
log = "0.4"
open = "5.3"
rfd = "0.15"
postcard = { version = "1.0", features = ["use-std"] }
velopack = { version = "0.0", features = ["async"] }
thiserror = "2.0"
tauri = { version = "2.9", features = ["tracing"] }
tauri-build = "2.5"
blake3 = "1.8"
rayon = "1.11"
# disables `esaxx_fast` feature which is conflicting with `ort`
tokenizers = { version = "0.22", default-features = false, features = ["onig"] }
strum = { version = "0.27", features = ["derive"] }
zip = { version = "6.0", default-features = false, features = ["deflate"] }
dirs = "6.0"
futures = "0.3"
reqwest = { version = "0.12", features = ["stream", "json"] }
reqwest-middleware = "0.4"
reqwest-retry = "0.7"
flate2 = { version = "1.0", default-features = false, features = [
    "zlib-ng-compat",
] }
csv = "1.3"
tempfile = "3.10"
once_cell = "1.21"
libloading = "0.9"
num_cpus = "1.17"
swash = "0.2"
fontdb = "0.23"
unicode-script = "0.5"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
