name: Build

on:
  push:
    branches: ['main']
  pull_request:

env:
  CARGO_TERM_COLOR: always
  CUDA_COMPUTE_CAP: 75

jobs:
  build:
    name: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: Swatinem/rust-cache@v2
      - uses: Jimver/cuda-toolkit@master
        if: matrix.os != 'macos-latest'
        with:
          cuda: '13.1.0'
      - uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-latest'
      - run: bun install
      - run: bun tauri build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: koharu-${{ matrix.os }}
          path: |
            target/release/koharu*
          retention-days: 3
