name: Build

on:
  push:
    branches: ['main']
  pull_request:

env:
  CARGO_TERM_COLOR: always
  CUDA_COMPUTE_CAP: 75

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
      fail-fast: false
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: Swatinem/rust-cache@v2
      - uses: Jimver/cuda-toolkit@master
        if: matrix.os == 'windows-latest'
        with:
          cuda: '12.9.1'
      - uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-latest'
      - run: bun install
      - run: bun tauri build
