name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write
  id-token: write

env:
  CARGO_TERM_COLOR: always
  CUDA_COMPUTE_CAP: 75

jobs:
  build-windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: Jimver/cuda-toolkit@master
        with:
          cuda: '13.1.0'
      - uses: ilammy/msvc-dev-cmd@v1
      - run: bun install
      - run: bun tauri build --features=cuda,cudnn,bundle
      - name: Prepare distribution folder
        shell: bash
        run: |
          mkdir dist
          cp target/release/koharu.exe dist/

      - name: Generate release notes
        run: bun git-cliff --current -o RELEASE_NOTES.md

      - name: Package
        shell: bash
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        run: |
          dotnet tool update -g vpk
          vpk pack -u Koharu -v ${{ github.ref_name }} -p dist -e koharu.exe -i koharu/icons/icon.ico \
            --releaseNotes RELEASE_NOTES.md \
            --azureTrustedSignFile .github/signing/metadata.json
          vpk upload github \
            --repoUrl https://github.com/${{ github.repository }} \
            --releaseName ${{ github.ref_name }} \
            --tag ${{ github.ref_name }} \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --merge

  build-macos:
    name: macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun tauri build --features=metal,bundle
      - name: Prepare distribution folder
        run: |
          mkdir dist
          cp target/release/koharu dist/
      - name: Generate release notes
        run: bun git-cliff --current -o RELEASE_NOTES.md
      - name: Install Apple certificates and notary profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          INSTALLER_CERTIFICATE_BASE64: ${{ secrets.INSTALLER_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ""
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          APPLE_TEAM: ${{ secrets.APPLE_TEAM }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables for file paths
          CERT_BUILD_PATH=$RUNNER_TEMP/build_certificate.p12
          CERT_INSTALLER_PATH=$RUNNER_TEMP/installer_certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificates from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERT_BUILD_PATH
          echo -n "$INSTALLER_CERTIFICATE_BASE64" | base64 --decode -o $CERT_INSTALLER_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificates to keychain
          security import $CERT_BUILD_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security import $CERT_INSTALLER_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # create notarytool profile
          xcrun notarytool store-credentials --keychain $KEYCHAIN_PATH --apple-id "$APPLE_ID" --team-id "$APPLE_TEAM" --password "$APPLE_PASSWORD" velopack-profile
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - name: Package
        run: |
          dotnet tool update -g vpk
          vpk pack -u Koharu -v ${{ github.ref_name }} -p dist -e koharu -i koharu/icons/icon.icns \
            --releaseNotes RELEASE_NOTES.md \
            --signAppIdentity "Developer ID Application: Mayo Takanashi" \
            --signInstallIdentity "Developer ID Installer: Mayo Takanashi" \
            --notaryProfile "velopack-profile" \
            --keychain $RUNNER_TEMP/app-signing.keychain-db
          vpk upload github \
            --repoUrl https://github.com/${{ github.repository }} \
            --releaseName ${{ github.ref_name }} \
            --tag ${{ github.ref_name }} \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --merge

  build-linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - uses: actions/checkout@v6
      - uses: Jimver/cuda-toolkit@master
        with:
          cuda: '13.1.0'
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun tauri build --features=cuda,cudnn,bundle
      - name: Prepare distribution folder
        run: |
          mkdir dist
          cp target/release/koharu dist/
      - name: Generate release notes
        run: bun git-cliff --current -o RELEASE_NOTES.md
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'
      - name: Package
        run: |
          dotnet tool update -g vpk
          vpk pack -u Koharu -v ${{ github.ref_name }} -p dist -e koharu -i koharu/icons/icon.ico \
            --releaseNotes RELEASE_NOTES.md
          vpk upload github \
            --repoUrl https://github.com/${{ github.repository }} \
            --releaseName ${{ github.ref_name }} \
            --tag ${{ github.ref_name }} \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --merge

  publish:
    needs: [build-windows, build-macos, build-linux]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - name: Generate release notes
        run: bun git-cliff --current -o RELEASE_NOTES.md
      - name: Upload Bundled Artifacts
        uses: softprops/action-gh-release@v2
        with:
          body_path: RELEASE_NOTES.md
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
